.output {
    margin: var(--inputHeight) 0 0 0;
    padding: 1em;
}

.sect1 {
    /* border:1px solid white; */
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* & LEFT SECT  */
.sect1Left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainTempWrap {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.mainTempWrap > span {
    color: var(--white);
}

.temp {
    --size: 210px;
    font-size: var(--size);
    line-height: var(--size);
    font-weight: var(--fontBold);
    text-shadow: 3px 3px 98px #4288b4b0;
}

.deg {
    font-size: 40px;
    letter-spacing: -4px;
    font-weight: var(--fontBold);
    margin: 5% 0 0 0;
    text-shadow: 3px 3px 28px #4288b4b0;
}

.locationDataWrap {
    display: flex;
    flex-direction: column;
}

.loc1 {  
    font-weight: var(--fontBold);
    color: var(--mediumBlue);
    font-size: 40px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid var(--mediumBlue);
}

.loc2 {  
    padding: 10px 0 5px 0;
    font-style: italic;
    color: var(--mediumTeal);
}

.countrySect {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    color: var(--mediumTeal);
}

.loc3 { 
    text-transform: uppercase;
    font-weight: var(--fontBold);
}

.flag {
    border-radius: 3px;
}



/* & RIGHT SECT  */
.sect1Right {
    flex: 1;
}

.currentSect1 {
    display: flex;
    flex-direction: row;
    column-gap: 5%;
}

.currentIcon {
    --size: 100px;
    width: var(--size);
}

.currentIcon svg {
    filter: drop-shadow(2px 2px 30px var(--mediumBlue));
}

.currentIcon svg * {
    fill: var(--white);
    stroke: var(--white);
}

.icon {
    width: 100%;
    max-height: var(--size);
    height: auto;
}

.currentDesc {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: 25px auto;
    width: 100%;
    column-gap: 10%;
}

.currentDesc > span {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    font-size: 17px;
    font-weight: var(--fontBold);
    color: #fff;
    text-shadow: 0px 0px 36px var(--blue);
}

.currentDesc > div {
    display: flex;
    flex-direction: column;
    --size: 40px;
    font-size: var(--size);
    line-height: calc(var(--size) * .7);
    font-weight: var(--fontBold);
    color: var(--mediumBlue);
}

.feelsLike::before, .windChill::before, .currentHumidity::before {
    font-size: calc(var(--size) / 3);
    font-weight: var(--fontReg);
    color: var(--mediumBlue)
}

.feelsLike {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
.feelsLike::before {
    content: 'feels like'; 
}

.currentHumidity {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.currentHumidity::before {
    content: 'humidity';
}

.currentHumidity sup {
    font-size: 18px;
    line-height: 0px;
    padding: 0 3px;
}


.currentSect2 {
    width: 100%;
    /* border-top: 1px solid var(--mediumTeal); */
    padding: 1em 0;
    display: flex;
    flex-direction: row;
}

/* & daylight bar */

.dayHoursDesc {
    color: var(--mediumBlue);
    font-weight: var(--fontLight);
}

.dayHoursDesc > span:first-child {
    font-weight: var(--fontBold);
}

.lightBar {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.lightBar {
    --height: 10px;
    flex: 1;
    display: flex;
    align-items: center;
}

.lightBarWrap {
    border:1px solid var(--mediumBlueOpacity);
    height: var(--height);
    border-radius: 20px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar {
    --barHeight:calc(var(--height) * 1.3);
    height: var(--barHeight);
    width: 40%;
    background-color: var(--white);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    box-shadow: 0 0 50px var(--mediumBlueOpacity);
}

.bar > div, 
.riseSect > div:first-child, 
.setSect > div:first-child {
    height: calc(var(--height) * .8);
    aspect-ratio: 1 / 1;
    border-radius: 20px;
}

.rise {
    background-color: var(--mediumTeal);
}
.set {
    background-color: var(--blue);
}

.timeSectRiseSet {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.riseSect, .setSect {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 5px;
}
.riseSect .rise, .setSect .set {
    margin: 5px 0 0 0;
}

.riseTime, .setTime {
    display: flex;
    flex-direction: column;
    color: var(--mediumBlue);
}

.riseTime::before, .setTime::before {
    font-size: 14px;
    color: var(--mediumTeal);
    font-weight: var(--fontReg);
}

.riseTime::before {
    content: "sunrise";
}
.setTime::before {
    content: 'sunset';
}

.sect2Right {
    flex: 1;
}


/* ~ RESPONSIVE  */

@media only screen and (max-width: 768px) {
    .sect1 {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .sect1Right {
        width: 85%;
        display: flex;
        flex-direction: column;
        row-gap: 1em;
    }

    .currentIcon, .currentDesc {
        flex: 1;
    }
    .currentIcon {
        --size: 85px;
    }
    
    .currentSect2 {
        flex-direction: column;
    }
}