.output {
  padding: var(--inputHeight) 0 0 0;
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: 100%;
  row-gap: 4vh;
  min-height: 100vh;
  height: 100%
}

.sect1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  padding: 0 1em;
  
}

/* & LEFT SECT  */
.sect1Left {
  --size: 210px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addToFavsDiv {
  cursor: pointer;
  color: var(--white);
  display: flex;
  align-items: center;
  position: relative;
}

.addToFavsDiv > span {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  padding: 5px 10px;
  background-color: var(--mediumBlue);
  font-size: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 3px;
  transition: background-color .2s ease-out;
}

.addToFavsDiv > span:hover {
  background-color: var(--lightBlue);
}

.addToFavsDiv svg {
  stroke: var(--white);
  width: 100%;
}

.addToFavsDiv > span > span:first-child {
  width: 13px;
  aspect-ratio: 1 / 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mainTempWrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.mainTempWrap > span {
  color: var(--white);
}

.temp {
  font-size: var(--size);
  line-height: var(--size);
  font-weight: var(--fontBold);
  text-shadow: 3px 3px 98px #4288b4b0;
}

.deg {
  font-size: calc(var(--size) / 5.25);
  letter-spacing: -4px;
  font-weight: var(--fontBold);
  margin: 5% 0 0 0;
  text-shadow: 3px 3px 28px #4288b4b0;
}

.locationDataWrap {
  display: flex;
  flex-direction: column;
}

.loc1 {
  font-weight: var(--fontBold);
  color: var(--mediumBlue);
  font-size: calc(var(--size) / 5.25);
  padding: 0 0 10px 0;
  border-bottom: 1px solid var(--mediumBlue);
}

.loc2 {
  padding: 10px 0 5px 0;
  font-style: italic;
  color: var(--mediumTeal);
}

.countrySect {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  color: var(--mediumTeal);
}

.loc3 {
  text-transform: uppercase;
  font-weight: var(--fontBold);
}

.flag {
  border-radius: 3px;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.flag > img {
  width:20px;
}

/* & RIGHT SECT  */
.sect1Right {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, min-content);
  row-gap: 15px;
  --maxWidth: 390px;
}

.currentDate {
  padding: 5px 11px;
  background-color: var(--mediumBlue);
  width: fit-content;
  color: var(--white);
  border-radius: 20px;
  font-size:10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
  flex-wrap: wrap;
  font-style: italic;
  /* margin: 0 0 10px 0; */
}


.currentSect1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
}

.currentIcon {
  --size: 100px;
  width: var(--size);
}

.currentIcon svg {
  filter: drop-shadow(2px 2px 30px var(--mediumBlue));
}

.currentIcon svg {
  fill: var(--white);
  stroke: var(--white);
}

.icon {
  width: 100%;
  max-height: var(--size);
  height: auto;
}

.currentDesc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: -moz-fit-content;
  width: fit-content;
  column-gap: 20px;
}

.currentDesc > span {
  font-size: 27px;
  font-weight: var(--fontBold);
  color: #fff;
  text-shadow: 0px 0px 36px var(--blue);
  display: block;
}

.currentDesc2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  column-gap: 20px;
}

.currentDesc2 > div {
  --heightOffset: 10px;
  display: flex;
  flex-direction: column;
  --size: 32px;
  font-size: var(--size);
  line-height: calc(var(--size) * 0.7);
  font-weight: var(--fontBold);
  color: var(--mediumBlue);
  margin: 0 0 var(--heightOffset) 0;
}

.feelsLike::before,
.windChill::before,
.currentHumidity::before {
  font-size: calc(var(--size) / 3);
  font-weight: var(--fontReg);
  color: var(--mediumBlue);
}

.feelsLike::before {
  content: "feels like";
}
.currentHumidity::before {
  content: "humidity";
}

.currentHumidity sup {
  font-size: 18px;
  line-height: 0px;
  padding: 0 3px;
}

/* & daylight bar */

.currentSect2 {
  max-width: var(--maxWidth);
  width: 100%;
  /* border-top: 1px solid var(--mediumTeal); */
  display: flex;
  flex-direction: row;
}

.dayHoursDesc {
  color: var(--mediumBlue);
  font-weight: var(--fontLight);
}

.dayHoursDesc > span:first-child {
  font-weight: var(--fontBold);
}

.lightBar {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.lightBar {
  --height: 10px;
  flex: 1;
  display: flex;
  align-items: center;
}

.lightBarWrap {
  border: 1px solid var(--mediumBlueOpacity);
  height: var(--height);
  border-radius: 20px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar {
  --barHeight: calc(var(--height) * 1.3);
  height: var(--barHeight);
  width: 40%;
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  box-shadow: 0 0 50px var(--mediumBlueOpacity);
}

.bar > div,
.riseSect > div:first-child,
.setSect > div:first-child {
  height: calc(var(--height) * 0.8);
  aspect-ratio: 1 / 1;
  border-radius: 20px;
}

.rise {
  background-color: var(--mediumTeal);
}
.set {
  background-color: var(--blue);
}

.timeSectRiseSet {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.riseSect,
.setSect {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 5px;
}
.riseSect .rise,
.setSect .set {
  margin: 5px 0 0 0;
}

.riseTime,
.setTime {
  display: flex;
  flex-direction: column;
  color: var(--mediumBlue);
}

.riseTime::before,
.setTime::before {
  font-size: 14px;
  color: var(--mediumTeal);
  font-weight: var(--fontReg);
}

.riseTime::before {
  content: "sunrise";
}
.setTime::before {
  content: "sunset";
}

.currentSect3 {
  grid-column: 1 / 2;
}

/* & Hourly section */

.currentSect3 {
  max-width: var(--maxWidth);
  width: 100%;
}

.hourlySect {
  display: grid;
  grid-auto-flow: column;
  overflow-x: scroll;
}

.hourlySect > div {
  width: 85px;
  padding:0 0 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hourlyIcon .icon {
  height: 30px;
  aspect-ratio: 1 / 1;
}
.hourlyIcon svg {
  fill: var(--lightBlue);
  stroke: var(--lightBlue);
}

.hourlyTemp {
  padding: 5px 0 0 0;
  font-weight: var(--fontBold);
  color: var(--mediumBlue);
  margin: 0 0 0 7px;
  font-size: 18px;
}

.hourlyHour {
  color: var(--mediumTeal);
  font-size: 14px;
}

/* ~ RESPONSIVE  */

@media only screen and (max-width: 768px) {
  .sect1 {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding: 0;
  }

  .sect1Right {
    max-width: 560px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;
    padding: 0 10px;
  }

  .currentIcon,
  .currentDesc {
    flex: 1;
  }
  .currentIcon {
    --size: 87px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 0.7;
  }

  .icon {
    max-width: 87px;
  }

  .currentSect1 {
    max-width: 400px;
    width: 100%;
  }

  .currentSect2 {
    flex-direction: column;
    padding: 0;
  }
  .currentDesc2 {
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 425px) {
  
  .inputTownZip {
    padding: 0.2em;
  }
  .sect1Left {
    --size: 50dvw;
  }

  .currentIcon .icon {
    min-width: 87px;
  }

  .currentDesc > span {
    font-size: 20px;
  }

  .currentDesc2 > div {
    --size: 25px;
  }

  .addToFavsDiv {
    margin: 30px;
  }

}
