body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./IMGs/defaultBG.png);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  --inputHeight: 140px;
}

:root {
  --fontLight: 300;
  --fontReg: 400;
  --fontBold: 600;
  --fontBlack: 800;
  --inputTownZipBackground: #e5f9fd78;
  --defaultFont: 'Montserrat', sans-serif;
  --inputColor: #2b5351;
  --white: #fff;
  --lightTeal: #8ACDD0;
  --mediumTeal: #0eb1b5;
  --mediumBlue: #487896;
  --mediumBlueOpacity: #487896a1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

