body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./IMGs/defaultBG.png);
  background-repeat: no-repeat;
  background-size: cover;
}

:root {
  --inputTownZipBackground: #e5f9fd78;
  --defaultFont: 'Montserrat', sans-serif;
  --inputColor: #2b5351;
  --inputColorPlaceholder: #2b53517d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
